server:
  port: ${SERVER_PORT:8088}
spring:
  application:
    name: notification-service
  mail:
    host: ${SMTP_HOST:smtp_host}
    username: ${SMTP_USERNAME:smtp_username}
    password: ${SMTP_PASSWORD:smtp_password}
    port: ${SMTP_PORT:587}
    properties:
      mail:
        smtp:
          auth: 'true'
          starttls:
            enable: 'true'
            required: 'true'

logging:
  level:
    com.bqp.bqphy.notificationservice: DEBUG