<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<!-- Footer Fragment -->
<div th:fragment="footer">
    <div style="padding:20px;text-align:center; background:#F5F5FC; font-size:12px; color:#717680;">
        <div style="margin-bottom:10px;">
            <div class="bqplogo">
                <img style="height: 40px; width: auto;" src="https://dev.bosonqpsi.com/assets/logo.svg" />
            </div>
            <div class="bqplogo-text " style="color:#000000; ">
                BQPhy<sub style="font-size:12px;">®</sub>
            </div>
        </div>
        <p style="margin-top:14px;line-height:1.4;">
            © 2025 BQP. All rights reserved.
        </p>

    </div>
</div>
</body>
</html>