<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="header">
    <div style="text-align:center; padding:30px; background:linear-gradient(135deg,#3A93BC,#5C8ED4, #7989E9); background-color:#5C8ED4; white-space:nowrap;">
        <div style="margin-bottom:14px;">
            <div class="bqplogo">
                <img style="height: 40px; width: auto;" src="https://dev.bosonqpsi.com/assets/logo.svg" />
            </div>
            <div class="bqplogo-text " style="color:#ffffff; ">
                BQPhy<sub style="font-size:12px;">®</sub>
            </div>
        </div>
    </div>
</div>

</body>
</html>