<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="~{style/style :: styles}"></th:block>
</head>

<body>

<th:block th:replace="~{components/header :: header}"></th:block>

<div class="content">

    <h2>Hello Team,</h2>
    <p>A new user has successfully registered on the platform. Please find the details below:</p>

    <div class="card">
        <div style="border-bottom:2px solid #E9EAEB; padding:10px 0; white-space:nowrap;">
            <div style="display:inline-block; vertical-align:middle; margin-right:10px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
                    <rect width="36" height="36" rx="8" fill="#E3F2FF"/>
                    <path d="M12 23.3333C13.5572 21.6817 15.6713 20.6667 18 20.6667C20.3287 20.6667 22.4428 21.6817 24 23.3333M21 15C21 16.6569 19.6569 18 18 18C16.3431 18 15 16.6569 15 15C15 13.3431 16.3431 12 18 12C19.6569 12 21 13.3431 21 15Z" stroke="#395F7F" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
            <div style="display:inline-block; vertical-align:middle; font-size:18px; font-weight:600;">
                User Details:
            </div>
        </div>
        <div class="row">
            <div class="label">Username:</div>
            <div class="value" th:text="${username}"></div>
        </div>

        <div class="row">
            <div class="label">User ID:</div>
            <div class="value" th:text="${id}"></div>
        </div>

        <div class="row">
            <div class="label">Email:</div>
            <div class="value" th:text="${email}"></div>
        </div>

        <div class="row">
            <div class="label">Date of registration:</div>
            <div class="value" th:text="${createdAt}"></div>
        </div>
    </div>
    <p>Please review this registration and complete any required verification or other steps.</p>
    <p>If you need additional information, feel free to reach out.</p>


</div>

<th:block th:replace="~{components/footer :: footer}"></th:block>

</body>
</html>